body {
  background-color: #1e1e1e;
}
.game-area {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #abbfc0;
  background-color: silver;
  overflow: hidden;
  overflow-y: unset;
}

.snake-gif{
  border-style: none;
    margin-left: 90%;
}

@media only screen and (max-width: 800px) {
  /* .game-area {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    margin-left: 10%;
  }

  .snake {
    width: 2%;
    height: 2%;
  } */
  .snake-gif{
    border-style: none;
    margin-left: 70%;
  }
}

/* .snake {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: black;
  border: 1px solid white;
  z-index: 2;
}

.food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: green;
  z-index: 1;
} */

.snake-container {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  margin-bottom:10px;
  background-color: black;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.grid-item {
  outline: 1px solid white;
  width: 40px;
  height: 40px;
}
.snake {
  outline: 1px solid blue;
  background-color: blue;

  width: 40px;
  height: 40px;
}


.food {
  outline: 1px solid purple;
  background-color: purple;
  width: 40px;
  height: 40px;
  
}

.img500 {
  width:500px;
  height:500px;
}
/* 

*/

#GameBoard {
	position: relative;
	margin: auto;
	border-style: solid;
}

#GameBoard .Block {
	position: absolute;
}

#GameBoard #GameOver {
	text-align: center;
	height: 100%;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
}

#GameBoard #Score {
	position: relative;
	top: 105%;
	text-align: center;
	font-weight: bold;
}

#GameBoard #GameOverText {
	color: #ca0000;
	font-weight: bold;
	text-decoration-line: underline;
}

#GameBoard #PressSpaceText {
	color: #2e7ecb;
	font-weight: bold;
}
